@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap"); /*   font-family: 'Luckiest Guy', cursive; para title */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap"); /* font-family: 'Raleway', sans-serif; para conteúdo */
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap"); /* font-family: 'Otomanopee One', sans-serif; */

* {
  margin: 0px;
}
/* !HEADER */
.title {
  text-align: center;
  font-family: "Otomanopee One", sans-serif;
}

/* !MAIN */
/* ?Aqui estou arrumando o menu */
/* *Mudando a cor da fonte/aonde ela vai ficar */
a:link {
  margin: 100px;

  text-decoration: none;
  color: white;

  box-sizing: border-box;
}

/* *Mudando a fonte do nome */
h2 {
  font-family: "Otomanopee One", sans-serif;
}

/* *Mudando o alinhamento do texto, botando borda na box, colocando cor nela e mudando as proporções  */
.menu {
  text-align: justify;
  font-family: "Otomanopee One", sans-serif;

  border: 2px solid black;
  background-color: #475f94;

  height: 60px;
  width: 85%;

  box-sizing: border-box;

  padding: 18px;
  position: fixed;
}

/* *Aqui estou fazendo o texto pegar apenas 85 da página para o menu lateral */
#yukielore,
#yukieaparency,
#matsukaze {
  width: 85%;

  position: relative;

  text-align: justify;
  font-family: "Raleway", sans-serif;
}

/* *Aqui estou fazendo a aparencia pegar 50% da página para colocar a foto */
#yukieaparency {
  width: 50%;
}

/* *Aqui estou deixando a imagem na parte certa do site (Ainda preciso arrumar) */
.fotoyukie {
  max-width: 200px;

  right: 27%;
  top: 55%;

  position: absolute;
}

/* !FOOTER */
#sidemenu {
  text-align: center;
  font-family: "Otomanopee One", sans-serif;

  border: 2px solid black;
  background-color: #475f94;

  height: 40px;
  width: 15%;

  top: auto;
  right: 0%;

  box-sizing: border-box;

  padding: 10px;
  position: fixed;
}

#copyright {
  text-align: center;
  font-family: "Otomanopee One", sans-serif;

  border: 3px solid black;

  height: 40px;
  width: 35%;

  top: 1%;
  right: 0%;

  box-sizing: border-box;

  padding: 2px;
}
