@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap"); /*   font-family: 'Luckiest Guy', cursive; para title */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap"); /* font-family: 'Raleway', sans-serif; para conteúdo */
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap"); /* font-family: 'Otomanopee One', sans-serif; */

/* ?Resetando configurações do user agent */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* A partir da borda */
}
/* !HEADER */
.title {
  text-align: center;
  font-family: "Otomanopee One", sans-serif;
}

/* !MAIN */
/* ?Aqui estou arrumando o menu */
/* *Mudando a cor da fonte/aonde ela vai ficar */
a:link {
  margin: 100px;

  text-decoration: none;
  color: black;
}

/* ?Aqui estou mudando a cor depois que o link foi visitado */
a:visited {
  color: black;
}

/* ?Trocando a background color */
body {
  background-color: #ffd1df;
}
/* *Mudando a fonte do nome */
h2 {
  font-family: "Otomanopee One", sans-serif;
}

/* *Mudando o alinhamento do texto, botando borda na box, colocando cor nela e mudando as proporções  */
.menu {
  text-align: justify;
  font-family: "Otomanopee One", sans-serif;

  border: 2px solid black;
  background-color: #e78ea5;

  height: 60px;
  width: 85%;

  padding: 18px;
  position: fixed;
}

/* *Aqui estou fazendo o texto pegar apenas 85 da página para o menu lateral */
#lore,
#aparencyyukie,
#aparencychris,
#matsukaze {
  width: 85%;

  position: relative;

  text-align: justify;
  font-family: "Raleway", sans-serif;
}

/* *Aqui estou fazendo a aparencia pegar 50% da página para colocar a foto */
#aparencyyukie {
  width: 50%;
}

/* *Aqui estou deixando a imagem na parte certa do site (Ainda preciso arrumar) */
.fotoyukie {
  max-width: 200px;

  left: 55%;
  bottom: 20%;

  position: absolute;
}

/* !FOOTER */
/* ?Aqui estou arrumando o o side menu */
#sidemenu {
  text-align: center;
  font-family: "Otomanopee One", sans-serif;

  border: 2px solid black;
  background-color: #e78ea5;

  height: 100%;
  width: 14%;

  top: 0px;
  bottom: 0px;
  right: 1px;
  left: 86%;

  padding: 10px;
  position: fixed;
}
/* ?Aqui estou arrumando a copyright do site */
#copyright {
  text-align: center;
  font-family: "Otomanopee One", sans-serif;

  border: 2px solid black;
  width: 1129px;

  margin-top: 0%;
  bottom: 0%;

  position: fixed;
}
